
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <meta name="baidu-site-verification" content="MfC8ppEukL" />
    <!-- CSRF Token -->
    <meta name="csrf-token" content="hm5989AA5qOWRt4SjRmpClu004h3pj4sKMT34pNa">

    <title>密码重设 | 《Laravel 教程 - Web 开发实战入门 ( Laravel 5.5 )》 | Laravel 实战教程
    </title>

    <meta name="author" content="Summer" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="shortcut icon" href="../images/KDiyAbV0hj1ytHpRTOlVpucbLebonxeX.png"/>

    <!-- Styles -->
    <link href="../css/app.css" rel="stylesheet">
    <style>
        .ui.top.menu {border-top: 4px solid #f46660;}
    </style>
</head>
<body class=" books-articles-show-page">
<!--left-->
<div class="ui vertical  sidebar menu left" style="z-index: 99999">
    <div class="item">
        <b>Laravel 教程 - Web 开发实战入门 ( Laravel 5.5 )</b>
    </div>
    <div class="item">
        <div class="header">
            第一章. 基础信息
        </div>
        <div class="menu article">
            <a class="item" href="1.1about-the-book.html">1.1. 序言</a>
            <a class="item " href="1.2about-author.html">1.2. 关于作者</a>
            <a class="item " href="1.3laravel-and-php.html">1.3. Laravel 与 PHP</a>
            <a class="item " href="1.4reading-guide.html">1.4. 如何正确阅读本书？</a>
            <a class="item " href="1.5writing-convention.html">1.5. 写作约定</a>
            <a class="item " href="1.6release-notes.html">1.6. 发行说明</a>
            <a class="item " href="1.7the-book-source-code.html">1.7. 本书源码</a>
            <a class="item " href="1.8feedback-correction.html">1.8. 反馈纠错</a>
            <a class="item " href="1.9faq.html">1.9. 常见问题</a>
            <a class="item " href="1.10received-praise.html">1.10. 收到的赞誉</a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            第二章. 开发环境布置
        </div>

        <div class="menu article">
            <a class="item " href="2.1the-editor-to-choose.html">2.1. 编辑器选用</a>
            <a class="item " href="2.2command-line-tool.html">2.2. 命令行工具</a>
            <a class="item " href="2.3the-development-environment-to-build.html">2.3. 开发环境搭建</a>
            <a class="item " href="2.4development-environment-macos.html">2.4. 开发环境搭建 - MacOS</a>
            <a class="item " href="2.5development-environment-windows.html">2.5. 开发环境搭建 - Windows</a>
            <a class="item " href="2.6browser-selection.html">2.6. 浏览器选择</a>
            <a class="item " href="2.7the-first-application-hello-laravel.html">2.7. 第一个应用，Hello Laravel！</a>
            <a class="item " href="2.8git-and-making.html">2.8. Git 与 GitHub</a>
            <a class="item " href="2.9the-deployment-of.html">2.9. 部署上线</a>
            <a class="item " href="2.10summary.html">2.10. 小结</a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            第三章. 构建页面
        </div>
        <div class="menu article">
            <a class="item " href="3.1chapter.html">3.1. 章节说明</a>
            <a class="item " href="3.2create-an.html">3.2. 创建应用</a>
            <a class="item " href="3.3a-static-page.html">3.3. 静态页面</a>
            <a class="item " href="3.4artisan-command.html">3.4. Artisan 命令</a>
            <a class="item " href="3.5summary.html">3.5. 小结</a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            第四章. 优化页面
        </div>
        <div class="menu article">
            <a class="item " href="4.1chapter.html">4.1. 章节说明</a>
            <a class="item " href="4.2style-beautification.html">4.2. 样式美化</a>
            <a class="item " href="4.3laravel-front-end-workflow.html">4.3. Laravel 前端工作流</a>
            <a class="item " href="4.4local-view.html">4.4. 局部视图</a>
            <a class="item " href="4.5the-links-in-the-layout.html">4.5. 布局中的链接</a>
            <a class="item " href="4.6user-registration.html">4.6. 用户注册页面</a>
            <a class="item " href="4.7summary.html">4.7. 小结</a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            第五章. 用户模型
        </div>
        <div class="menu article">
            <a class="item " href="5.1chapter.html">5.1. 章节说明</a>
            <a class="item " href="5.2database-migration.html">5.2. 数据库迁移</a>
            <a class="item " href="5.3check-the-database-table.html">5.3. 查看数据库表</a>
            <a class="item " href="5.4model-file.html">5.4. 模型文件</a>
            <a class="item " href="5.5create-a-user-object.html">5.5. 创建用户对象</a>
            <a class="item " href="5.6to-find-the-user-object.html">5.6. 查找用户对象</a>
            <a class="item " href="5.7update-user-object.html">5.7. 更新用户对象</a>
            <a class="item " href="5.8summary.html">5.8. 小结</a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            第六章. 用户注册
        </div>
        <div class="menu article">
            <a class="item " href="6.1chapter.html">6.1. 章节说明</a>
            <a class="item " href="6.2according-to-the-users-information.html">6.2. 显示用户的信息</a>
            <a class="item " href="6.3registration-form.html">6.3. 注册表单</a>
            <a class="item " href="6.4the-user-data-validation.html">6.4. 用户数据验证</a>
            <a class="item " href="6.5registration-failed-error-message.html">6.5. 注册失败错误消息</a>
            <a class="item " href="6.6registered-successfully.html">6.6. 注册成功</a>
            <a class="item " href="6.7using-postgresql-on-heroku.html">6.7. 在 Heroku 上使用 PostgreSQL</a>
            <a class="item " href="6.8summary.html">6.8. 小结</a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            第七章. 会话管理
        </div>
        <div class="menu article">
            <a class="item " href="7.1chapter.html">7.1. 章节说明</a>
            <a class="item " href="7.2the-session.html">7.2. 会话</a>
            <a class="item " href="7.3the-user-login.html">7.3. 用户登录</a>
            <a class="item " href="7.4exit.html">7.4. 退出</a>
            <a class="item " href="7.5remember-that-i.html">7.5. 记住我</a>
            <a class="item " href="7.6summary.html">7.6. 小结</a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            第八章. 用户 CRUD
        </div>
        <div class="menu article">
            <a class="item " href="8.1chapter.html">8.1. 章节说明</a>
            <a class="item " href="8.2update-user.html">8.2. 更新用户</a>
            <a class="item " href="8.3permissions-system.html">8.3. 权限系统</a>
            <a class="item " href="8.4list-all-user.html">8.4. 列出所有用户</a>
            <a class="item " href="8.5delete-user.html">8.5. 删除用户</a>
            <a class="item " href="8.6summary.html">8.6. 小结</a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            第九章. 邮件发送
        </div>
        <div class="menu article">
            <a class="item " href="9.1chapter.html">9.1. 章节说明</a>
            <a class="item " href="9.2account-activation.html">9.2. 账户激活</a>
            <a class="item active" href="9.3password-reset.html">9.3. 密码重设</a>
            <a class="item " href="9.4in-a-production-environment-to-send-mail.html">9.4. 在生产环境中发送邮件</a>
            <a class="item " href="9.5summary.html">9.5. 小结</a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            第十章. 微博 CRUD
        </div>
        <div class="menu article">
            <a class="item " href="10.1chapter.html">10.1. 章节说明</a>
            <a class="item " href="10.2weibo-model.html">10.2. 微博模型</a>
            <a class="item " href="10.3according-to-weibo.html">10.3. 显示微博</a>
            <a class="item " href="10.4weibo-related-operations.html">10.4. 微博相关的操作</a>
            <a class="item " href="10.5summary.html">10.5. 小结</a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            第十一章. 粉丝关系
        </div>
        <div class="menu article">
            <a class="item " href="11.1chapter.html">11.1. 章节说明</a>
            <a class="item " href="11.2fan-data-table.html">11.2. 粉丝数据表</a>
            <a class="item " href="11.3focus-on-the-users-web-interface.html">11.3. 关注用户的网页界面</a>
            <a class="item " href="11.4dynamic-flow.html">11.4. 动态流</a>
            <a class="item " href="11.5summary.html">11.5. 小结</a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            第十二章. 附录
        </div>
        <div class="menu article">
            <a class="item " href="12.1proper-noun-index.html">12.1. 专有名词索引</a>
            <a class="item " href="12.2command-line-index.html">12.2. 命令行索引</a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            第十三章. 附言
        </div>
        <div class="menu article">
            <a class="item " href="13.1the-next-step-study-suggest.html">13.1. 下一步的学习建议</a>
        </div>
    </div>
</div>
<!--left-->

<div class="ui basic teal  launch right attached fixed button">
    <i class="content icon"></i>
    <span class="text">Menu</span>
</div>

<div class="pusher">

    <div class="main container">

        <nav class="ui main borderless menu top stackable">
            <div class="ui container">
                <a href="../index.html" class="header item">
                    Laravel 实战教程 <div class="ui left pointing orange basic label" style="font-weight: normal;"> 全栈给我自由 </div>
                </a>


                <a href="https://laravel-china.org/topics" class="item no-pjax" >社区</a>
                <a href="https://laravel-china.org/categories/4" class="item">问答</a>

                <div class="ui fluid category search item">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>


                <div class=" right menu stackable">
                    <div class="item">
                        <a class="ui basic green small button" href="https://laravel-china.org/auth/login"><i class="icon user "></i> 登录 </a>
                    </div>

                    <div class="item">
                        <a class="ui basic green small button" href="https://laravel-china.org/auth/register"><i class="icon signup "></i> 注册 </a>
                    </div>
                </div>

            </div>
        </nav>




        <div class="ui centered grid container stackable">

            <div class="twelve wide column">


                <div class="ui segment article-content">


                    <div class="extra-padding">

                        <h1>
                            <i class="grey file text outline icon"></i>
                            <span style="line-height: 34px;">9.3. 密码重设 </span>





                        </h1>

                        <p class="book-article-meta">

                            <a href="../index.html"><i class="icon book"></i> Laravel 教程 - Web 开发实战入门 ( Laravel 5.5 )</a>

                            <span class="divider">/</span>

                            <span class="relative clicked-hide-guide">
                <a class="chapter-title user-has-done-btn" data-act="chapter_sidebar_clicked" href="javascript:void(0);"><i class="icon map signs"></i> 第九章. 邮件发送</a>
    </span>

                        </p>



                        <div class="ui divider"></div>

                        <div class="ui readme markdown-body content-body">
                            <h2>密码重设</h2>
                            <p>上一节我们完成了账户激活功能，接着让我们继续开发密码重设功能。由于很多常用的 Web 应用都会提供密码重设的功能，因此 Laravel 将此功能内置到了框架中，减少了很多开发成本。</p>
                            <p>不过即便我们要使用 Laravel 内置的重设密码功能，也需要知道在日常开发时，大多数 Web 工程师是如何为网站添加重设密码功能的。一般来说，密码重设的步骤如下：</p>
                            <ol><li>用户点击重设密码链接并跳转到重设密码页面；</li>
                                <li>在重设密码页面输入邮箱信息并提交；</li>
                                <li>控制器通过该邮箱查找到指定用户并为该用户生成一个密码令牌，接着将该令牌以链接的形式发送到用户提交的邮箱上；</li>
                                <li>用户查看自己个人邮箱，点击重置密码链接跳转到重置密码页面；</li>
                                <li>用户在该页面输入自己的邮箱和密码并提交；</li>
                                <li>控制器对用户的邮箱和密码重置令牌进行匹配，匹配成功则更新用户密码；</li>
                            </ol>

                            <p>了解其中的整个流程之后，接下来的开发就容易多了。</p>
                            <h2>资源</h2>
                            <p>在密码重设功能中，我们还会用到一个用来保存密码重置令牌的数据表，Laravel 已默认为我们生成好了该数据表。</p>
                            <p><em>database/migrations/2014_10_12_100000_create_password_resets_table.php</em></p>
                            <pre><code class="language-php">&lt;?php

use Illuminate\Support\Facades\Schema;
use Illuminate\Database\Schema\Blueprint;
use Illuminate\Database\Migrations\Migration;

class CreatePasswordResetsTable extends Migration
{
    /**
     * Run the migrations.
     *
     * @return void
     */
    public function up()
    {
        Schema::create('password_resets', function (Blueprint $table) {
            $table-&gt;string('email')-&gt;index();
            $table-&gt;string('token')-&gt;index();
            $table-&gt;timestamp('created_at');
        });
    }

    /**
     * Reverse the migrations.
     *
     * @return void
     */
    public function down()
    {
        Schema::dropIfExists('password_resets');
    }
}</code></pre>
                            <p>可以看到 Laravel 默认生成的密码重置表有三个字段 email, token, created_at，分别用于生成用户邮箱、密码重置令牌、密码重置令牌的创建时间，并为邮箱和密码重置令牌加上了索引，这样在数据库使用这两个字段进行查找时效率更快。由于我们在前面已经执行过了迁移，因此现在我们的数据库已经拥有了 <code>password_resets</code> 表，无需再次运行迁移生成。</p>
                            <p>Laravel 将密码重设功能相关的逻辑代码都放在了 ForgotPasswordController 和 ResetPasswordController 中，因此我们接下来需要将重设密码相关的路由指定到该控制器上。</p>
                            <p><em>routes/web.php</em></p>
                            <pre><code class="language-php">&lt;?php
.
.
.

Route::get('password/reset', 'Auth\ForgotPasswordController@showLinkRequestForm')-&gt;name('password.request');
Route::post('password/email', 'Auth\ForgotPasswordController@sendResetLinkEmail')-&gt;name('password.email');
Route::get('password/reset/{token}', 'Auth\ResetPasswordController@showResetForm')-&gt;name('password.reset');
Route::post('password/reset', 'Auth\ResetPasswordController@reset')-&gt;name('password.update');</code></pre>
                            <p>该路由列表的信息如下所示：</p>
                            <table><thead><tr><th>HTTP 请求</th>
                                <th>URL</th>
                                <th>动作</th>
                                <th>作用</th>
                            </tr></thead><tbody><tr><td>GET</td>
                                <td>/password/reset</td>
                                <td>Auth\ForgotPasswordController<br />@showLinkRequestForm</td>
                                <td>显示重置密码的邮箱发送页面</td>
                            </tr><tr><td>POST</td>
                                <td>/password/email</td>
                                <td>Auth\ForgotPasswordController<br />@sendResetLinkEmail</td>
                                <td>邮箱发送重设链接</td>
                            </tr><tr><td>GET</td>
                                <td>/password/reset/{token}</td>
                                <td>Auth\ResetPasswordController<br />@showResetForm</td>
                                <td>密码更新页面</td>
                            </tr><tr><td>POST</td>
                                <td>/password/reset</td>
                                <td>Auth\ResetPasswordController<br />@reset</td>
                                <td>执行密码更新操作</td>
                            </tr></tbody></table>

                            <p>现在路由已配置完成，由于 Laravel 在 ForgotPasswordController 和 ResetPasswordController 中已经为我们处理好一些相关逻辑，因此我们现在只需要将精力专注于视图的构建就行了。</p>
                            <p>接下来让我们修改用户的登录页面，添加修改密码的链接，方便忘记密码的用户在第一时间找到入口。</p>
                            <p><em>resources/views/sessions/create.blade.php</em></p>
                            <pre><code class="language-html">@extends('layouts.default')
@section('title', '登录')

@section('content')
&lt;div class="col-md-offset-2 col-md-8"&gt;
  &lt;div class="panel panel-default"&gt;
    &lt;div class="panel-heading"&gt;
      &lt;h5&gt;登录&lt;/h5&gt;
    &lt;/div&gt;
    &lt;div class="panel-body"&gt;
      @include('shared._errors')

      &lt;form method="POST" action="{{ route('login') }}"&gt;
        {{ csrf_field() }}

        &lt;div class="form-group"&gt;
          &lt;label for="email"&gt;邮箱：&lt;/label&gt;
          &lt;input type="text" name="email" class="form-control" value="{{ old('email') }}"&gt;
        &lt;/div&gt;

        &lt;div class="form-group"&gt;
          &lt;label for="password"&gt;密码（&lt;a href="{{ route('password.request') }}"&gt;忘记密码&lt;/a&gt;）：&lt;/label&gt;
          &lt;input type="password" name="password" class="form-control" value="{{ old('password') }}"&gt;
        &lt;/div&gt;

        &lt;div class="checkbox"&gt;
          &lt;label&gt;&lt;input type="checkbox" name="remember"&gt; 记住我&lt;/label&gt;
        &lt;/div&gt;

        &lt;button type="submit" class="btn btn-primary"&gt;登录&lt;/button&gt;
      &lt;/form&gt;

      &lt;hr&gt;

      &lt;p&gt;还没账号？&lt;a href="{{ route('signup') }}"&gt;现在注册！&lt;/a&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
@stop</code></pre>
                            <p><img src="../images/E1DLrUCF9d.png" alt="file" /></p>
                            <h2>重置密码表单</h2>
                            <p>Laravel 生成的密码控制器在 <code>getEmail</code> 动作中返回的视图为 <code>auth.passwords.email</code>，因此让我们新建该视图，并在里面加上用户重置密码的表单。</p>
                            <p><em>resources/views/auth/passwords/email.blade.php</em></p>
                            <pre><code class="language-html">@extends('layouts.default')
@section('title', '重置密码')

@section('content')
&lt;div class="container"&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-8 col-md-offset-2"&gt;
            &lt;div class="panel panel-default"&gt;
                &lt;div class="panel-heading"&gt;重置密码&lt;/div&gt;
                &lt;div class="panel-body"&gt;
                    @if (session('status'))
                        &lt;div class="alert alert-success"&gt;
                            {{ session('status') }}
                        &lt;/div&gt;
                    @endif

                    &lt;form class="form-horizontal" method="POST" action="{{ route('password.email') }}"&gt;
                        {{ csrf_field() }}

                        &lt;div class="form-group{{ $errors-&gt;has('email') ? ' has-error' : '' }}"&gt;
                            &lt;label for="email" class="col-md-4 control-label"&gt;邮箱地址：&lt;/label&gt;

                            &lt;div class="col-md-6"&gt;
                                &lt;input id="email" type="email" class="form-control" name="email" value="{{ old('email') }}" required&gt;

                                @if ($errors-&gt;has('email'))
                                    &lt;span class="help-block"&gt;
                                        &lt;strong&gt;{{ $errors-&gt;first('email') }}&lt;/strong&gt;
                                    &lt;/span&gt;
                                @endif
                            &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class="form-group"&gt;
                            &lt;div class="col-md-6 col-md-offset-4"&gt;
                                &lt;button type="submit" class="btn btn-primary"&gt;
                                    发送密码重置邮件
                                &lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/form&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
@endsection</code></pre>
                            <p><img src="../images/Cn7ryoX8Y6.png" alt="file" /></p>
                            <p><code>getReset</code> 动作对应的 <code>auth.passwords.reset</code> 视图构建如下。</p>
                            <p><em>resources/views/auth/passwords/reset.blade.php</em></p>
                            <pre><code class="language-html">@extends('layouts.default')
@section('title', '更新密码')

@section('content')
&lt;div class="container"&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-8 col-md-offset-2"&gt;
            &lt;div class="panel panel-default"&gt;
                &lt;div class="panel-heading"&gt;更新密码&lt;/div&gt;

                &lt;div class="panel-body"&gt;
                    @if (session('status'))
                        &lt;div class="alert alert-success"&gt;
                            {{ session('status') }}
                        &lt;/div&gt;
                    @endif

                    &lt;form class="form-horizontal" method="POST" action="{{ route('password.request') }}"&gt;
                        {{ csrf_field() }}

                        &lt;input type="hidden" name="token" value="{{ $token }}"&gt;

                        &lt;div class="form-group{{ $errors-&gt;has('email') ? ' has-error' : '' }}"&gt;
                            &lt;label for="email" class="col-md-4 control-label"&gt;邮箱地址：&lt;/label&gt;

                            &lt;div class="col-md-6"&gt;
                                &lt;input id="email" type="email" class="form-control" name="email" value="{{ $email or old('email') }}" required autofocus&gt;

                                @if ($errors-&gt;has('email'))
                                    &lt;span class="help-block"&gt;
                                        &lt;strong&gt;{{ $errors-&gt;first('email') }}&lt;/strong&gt;
                                    &lt;/span&gt;
                                @endif
                            &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class="form-group{{ $errors-&gt;has('password') ? ' has-error' : '' }}"&gt;
                            &lt;label for="password" class="col-md-4 control-label"&gt;密码：&lt;/label&gt;

                            &lt;div class="col-md-6"&gt;
                                &lt;input id="password" type="password" class="form-control" name="password" required&gt;

                                @if ($errors-&gt;has('password'))
                                    &lt;span class="help-block"&gt;
                                        &lt;strong&gt;{{ $errors-&gt;first('password') }}&lt;/strong&gt;
                                    &lt;/span&gt;
                                @endif
                            &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class="form-group{{ $errors-&gt;has('password_confirmation') ? ' has-error' : '' }}"&gt;
                            &lt;label for="password-confirm" class="col-md-4 control-label"&gt;确认密码：&lt;/label&gt;
                            &lt;div class="col-md-6"&gt;
                                &lt;input id="password-confirm" type="password" class="form-control" name="password_confirmation" required&gt;

                                @if ($errors-&gt;has('password_confirmation'))
                                    &lt;span class="help-block"&gt;
                                        &lt;strong&gt;{{ $errors-&gt;first('password_confirmation') }}&lt;/strong&gt;
                                    &lt;/span&gt;
                                @endif
                            &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class="form-group"&gt;
                            &lt;div class="col-md-6 col-md-offset-4"&gt;
                                &lt;button type="submit" class="btn btn-primary"&gt;
                                    修改密码
                                &lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/form&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
@endsection</code></pre>
                            <p>我们在用户进行表单提交时，会将密码重置的令牌信息通过隐藏输入框一同提交给密码控制器的 <code>getReset</code> 进行处理。</p>
                            <pre><code class="language-html">&lt;input type="hidden" name="token" value="{{ $token }}"&gt;</code></pre>
                            <p><img src="../images/EePd9HcHhl.png" alt="file" /></p>
                            <p>另外还有一点需要我们注意的是，Laravel 在 ResetPasswordController 中默认为我们设置好了密码重置成功后的重定向地址 <code>/home</code>，而由于我们在本项目中并没有为 <code>/home</code> 绑定任何控制器动作，因此我们需要对 <code>ResetPasswordController</code> 的 <code>$redirectPath</code> 属性进行修改，将默认重定向地址改为 <code>/</code>，改动后的 <code>ResetPasswordController</code> 如下：</p>
                            <p><em>app/Http/Controllers/Auth/ResetPasswordController.php</em></p>
                            <pre><code class="language-php">&lt;?php

namespace App\Http\Controllers\Auth;

use App\Http\Controllers\Controller;
use Illuminate\Foundation\Auth\ResetsPasswords;

class ResetPasswordController extends Controller
{
    /*
    |--------------------------------------------------------------------------
    | Password Reset Controller
    |--------------------------------------------------------------------------
    |
    | This controller is responsible for handling password reset requests
    | and uses a simple trait to include this behavior. You're free to
    | explore this trait and override any methods you wish to tweak.
    |
    */

    use ResetsPasswords;

    /**
     * Where to redirect users after resetting their password.
     *
     * @var string
     */
    protected $redirectTo = '/';

    /**
     * Create a new controller instance.
     *
     * @return void
     */
    public function __construct()
    {
        $this-&gt;middleware('guest');
    }
}</code></pre>
                            <h2>邮件程序</h2>
                            <p>接下来我们需要定制 Laravel 密码重置邮件功能。</p>
                            <ol><li>生成消息通知文件：</li>
                            </ol>

                            <pre><code class="language-php">$ php artisan make:notification ResetPassword</code></pre>
                            <p>以上命令会生成 <code>app/Notifications/ResetPassword.php</code> 文件；</p>
                            <ol start="2"><li>定制消息通知文件：</li>
                            </ol>

                            <p><em>app/Notifications/ResetPassword.php</em></p>
                            <pre><code class="language-php">&lt;?php

namespace App\Notifications;

use Illuminate\Bus\Queueable;
use Illuminate\Notifications\Notification;
use Illuminate\Contracts\Queue\ShouldQueue;
use Illuminate\Notifications\Messages\MailMessage;

class ResetPassword extends Notification
{
    public $token;

    public function __construct($token)
    {
        $this-&gt;token = $token;
    }

    public function via($notifiable)
    {
        return ['mail'];
    }

    public function toMail($notifiable)
    {
        return (new MailMessage)
            -&gt;line('这是一封密码重置邮件，如果是您本人操作，请点击以下按钮继续：')
            -&gt;action('重置密码', url(config('app.url').route('password.reset', $this-&gt;token, false)))
            -&gt;line('如果您并没有执行此操作，您可以选择忽略此邮件。');
    }
}</code></pre>
                            <ol start="3"><li>User 模型里调用：</li>
                            </ol>

                            <p><em>app/Models/User.php</em></p>
                            <pre><code class="language-php">&lt;?php

namespace App\Models;
.
.
.
use App\Notifications\ResetPassword;

class User extends Authenticatable
{
    .
    .
    .
    public function sendPasswordResetNotification($token)
    {
        $this-&gt;notify(new ResetPassword($token));
    }
}</code></pre>
                            <p>增加了 <code>use App\Notifications\ResetPassword;</code> 和 <code>sendPasswordResetNotification</code> 方法。</p>
                            <ol start="4"><li>发布密码重置的 Email 视图：</li>
                            </ol>

                            <pre><code class="language-bash">$ php artisan vendor:publish --tag=laravel-notifications</code></pre>
                            <p>发布的文件为 resources/views/vendor/notifications/email.blade.php ，这里我们先不做修改。</p>
                            <p>接下来我们可以尝试邮箱找回密码功能：</p>
                            <p><img src="../images/EMrwqVaEqe.png" alt="file" /></p>
                            <p>邮件发送成功：</p>
                            <p><img src="../images/fiq4yuQoJc.png" alt="file" /></p>
                            <p>因为我们现在设置了 <code>MAIL_DRIVER=log</code>，打开 <code>laravel.log</code> 文件，能看到有如下的 log 输出：</p>
                            <p><em>storage/logs/laravel.log</em></p>
                            <pre><code class=" language-php">.
.
.
[2017-08-03 08:22:29] local.DEBUG: Message-ID: &lt;19edf72e96bf9feb9337ebd869cad6e2@sample.test&gt;
Date: Thu, 03 Aug 2017 08:22:29 +0000
Subject: Reset Password
From: Example &lt;hello@example.com&gt;
To: aufree@yousails.com
MIME-Version: 1.0
Content-Type: multipart/alternative;
 boundary="_=_swift_v4_1501748549_0d8c06576261eec1114cf5b3a49abcf0_=_"
.
.
.

# Hello!

这是一封密码重置邮件，如果是您本人操作，请点击以下按钮继续：

重置密码: http://sample.test/password/reset/f6bbca434bcc7c4f65cdd2eeac23a8f81eaa632c8e47e71ada92c3df1ae739db

如果您并没有执行此操作，您可以选择忽略此邮件。

Regards,Laravel

If you’re having trouble clicking the "重置密码" button, copy and paste the URL below
into your web browser: [http://sample.test/password/reset/f6bbca434bcc7c4f65cdd2eeac23a8f81eaa632c8e47e71ada92c3df1ae739db](http://sample.test/password/reset/f6bbca434bcc7c4f65cdd2eeac23a8f81eaa632c8e47e71ada92c3df1ae739db)

© 2017 Laravel. All rights reserved.</code></pre>
                            <p>现在我们访问 log 中输出的重置密码链接：</p>
                            <p><img src="../images/0wrbMjEp45.png" alt="file" /></p>
                            <p>并输入新密码即可完成整个重置流程。</p>
                            <p>至此，整个用户密码重设功能便完成了，由此我们可以看到 Laravel 到底有多么强大，开发效率多么高效。</p>
                        </div>

                    </div>


                </div>

                <div>
                    <a class="ui basic button small  pull-left popover " data-content="9.2. 账户激活" href="9.2account-activation.html"><i class="icon arrow left"></i> 上一篇</a>
                    <a class="ui basic button small  pull-right popover " data-content="9.4. 在生产环境中发送邮件" href="9.4in-a-production-environment-to-send-mail.html">下一篇 <i class="icon arrow right"></i></a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="four wide column">
                <div class="item header">

                    <div class="ui segment orange text-center" style="padding: 25px;">
                        刻意练习，每日精进。
                    </div>


                    <div class="ui segment">

                        <div class="ui three statistics">
                            <div class="ui huge statistic">
                                <div class="value">22</div>
                                <div class="label">点赞</div>
                            </div>
                            <div class="ui huge statistic">
                                <div class="value">9179</div>
                                <div class="label">浏览</div>
                            </div>
                            <div class="ui huge statistic">
                                <div class="value">1</div>
                                <div class="label">评论</div>
                            </div>
                        </div>

                        <br>

                    </div>
                </div>

                <div class="ui stackable cards">
                    <div class="ui  card column author-box grid" style="margin-top: 20px;">

                        <div class="ui fluid" style="margin-top: 20px;">
                            <div class="ui teal ribbon label"><i class="star icon"></i> 作者</div>
                        </div>

                        <a class="avatar-link">
                            <img class="ui centered circular tiny image "
                                 src="../images/1_1479342408.png">
                            </img>
                        </a>

                        <div class="extra content ui center aligned container">
                            <a class="header">Summer</a>
                            <div class="description"></div>
                        </div>
                    </div>
                </div>

                <div class="ui sticky" style="padding-top:20px">
                    <div class="ui  card column author-box grid " id="toc">
                    </div>
                </div>
            </div>

        </div>

    </div>

    <a class="circular ui icon button fixed feedback popover" data-content="建议与反馈 @Summer" data-position="left center">
        <i class="icon talk outline"></i>
    </a>

    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided grid">
                <div class="four wide column">
                    <h4 class="ui inverted header">友站</h4>
                    <div class="ui inverted link list">
                        <a href="https://laravel-china.org/" class="item" target="_blank">Laravel China 社区</a>
                        <a href="https://easywechat.org/" class="item" target="_blank">EasyWechat</a>
                        <a href="https://yousails.com/" class="item" target="_blank">优帆远扬</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header">资源推荐</h4>
                    <div class="ui inverted link list">
                        <a href="https://d.laravel-china.org/" class="item" target="_blank">Laravel 中文文档</a>
                        <a href="https://cs.laravel-china.org/" class="item" target="_blank">Laravel 速查表</a>
                    </div>
                </div>
                <div class="eight wide column">
                    <h4 class="ui inverted  header">Laravel 实战教程</h4>
                    <p>
                        编程是技能，不是知识，技能的唯一学习路径就是重复、实战性练习。
                    </p>

                    <p>
                        <a class="ui teal button" href="https://laravel-china.org/contact"><i class="icon idea "></i>
                            联系我
                        </a>
                    </p>
                </div>
            </div>

            <div class="ui inverted section divider"></div>
            <div>

                <p style="font-size:0.9em; margin-top:20px;margin-bottom: -8px;color: rgb(137, 137, 140);"
                   class="ui inverted ">
                    由 <a href="http://weibo.com/u/1837553744?is_hot=1" target="_blank"
                         style="color: inherit;">Summer</a> 设计和编码 <span style="color: #e27575;font-size: 14px;">❤</span>
                </p>
            </div>
        </div>
    </div>
</div>


<!-- Scripts -->
<script src="../js/app.js"></script>

</body>
</html>
